

.left_style {
    font-size: 14;
    margin-left: 0;
    color: #F35B8C;
    text-align: left;
    
    
  }
  
  .right_style {
    font-size: 14;
    margin-right: 0;
    color: #F35B8C;
    text-align: right;
  }
  
  

  .reddiv{height: 89.5vh; background-color:  #F35B8C;}

  .bluediv{height: 89.5vh; background-color:   #69B5FF;}

  /* #whitetext{ color: white; text-emphasis-color: white;  width: 50vh; padding-top: 30px; margin-top: 30px; align-items: center; size: 50px;background-color: "blue"} */

  .textdiv{
    align-self: center;
    margin-left: 5%;
    margin-top: 15%;
  }

  .labelclass{
    padding-left: 10px;
    color: white;
  }

  .split1 {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
  
  }
  
  /* Control the left side */
  .left1 {
    left: 0;
    width: 31.5%;
    background-color: #F35B8C;
  }
  /* Control the center side */
  .center1 {
    left: 31.5%;
    width: 63%;
    background-color: rgb(235, 228, 228);
    
    overflow: hidden;
  }
  /* Control the right side */
  .right1 {
    right: 0;
    width: 37%;
    background-color: #ffffff;
  }
  
  .header {
    margin-top: 0;
    margin: 0px;
    padding: 70px;
    text-align: center;
    background: #A4A1FB;
    color: white;
    font-size: 35px;
    overflow: auto;
    font-weight: bold;
    font-family: Bold 35px/37px source sans pro;
    /* left: 20%; */
    }

    .tabwrapper{
      margin-top: -22px;
      
    }
    
    .income{
      background-color: rgb(0, 94, 131);
      text-align: left;
      color: wheat;
      width: 50%;
    }
    
    .expense{
      background-color:rgb(255, 0, 76);
      text-align: left;
      color: wheat;
      width: 36%;
    }
    .chart-container {
      width: 435px;
      height: 10px;
      margin-top: 80px;
      padding: 20px;
    }
    .switch{
      background-color: seashell;
    }
    
    #cbarhart{
      /* margin-top: px; */
      width: 500px;
      height: 100px;
      /* padding: 5px; */
    }
    #cbar{
      width: 50%;
      padding-bottom: 45px;
    }
    #cline{
      width: 80%;
      padding-bottom: 45px;
     
    }
    #barchart{
      margin-top: 200px;
      width: 350px;
      height: 80px;
      padding: 5px;
    }